body {
	height: 100vh;
	background-color: #000814;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	font-size: 22px;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	font-weight: bold;
}

.control-title {
	font-size: 14px;
	color: #fff;
}
